<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>后台管理测试</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
</head>
<body>
<div th:replace="common/SHeader::sheader"></div>
<form th:action="@{/settings/home}" method="post">
    <p>home页面：</p>
    <label for="url">第一张大图：</label><input type="text" id="url" name="url" value="1234"/><br>
    <label for="describe">描述：</label><textarea id="describe" name="describe" rows="20" cols="128" placeholder="1234"></textarea>
    <br><input type="submit" value="应用更改">
    <hr>
</form>

<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.use('jquery',function() {
        var $= layui.jquery;
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });
    });

    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
    });

    //ajax请求区域
    layui.use('layer', function () {
        var layer = layui.layer;
        var index = null;
        var $ = layui.jquery;
        $.ajax({
            url:'/homeelems',
            method:'post',
            data:{},
            dataType:'JSON',
            async:true,
            success:function(res){
                console.log(res);
                $("#url").attr("value", url2img(res.url));
                $("#describe").val(res.describe);
            },
            error:function (data) {
                console.log(data)
            }
        });
    });

    function url2img(url){
        var strs = url.split("/");
        return strs.pop() + "." + strs.pop();
    }
</script>
</body>
</html>