<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>后台管理测试</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
    <style>
        * {
            font-size: 20px;
        }
    </style>
</head>
<body>
<div th:replace="common/SHeader::sheader"></div>

这个页面的主要功能是用户管理和图片资源管理
<p>已有用户</p>
<ul id="allUsers"></ul>
<hr>
<form th:action="@{/settings/addUser}" method="post">
<p>添加用户</p>
<label for="usnm">用户名： </label><input id="usnm" name="userName" type="text"><br>
<label for="pswd">密码： </label><input id="pswd" name="password" type="text"><br>
<button id="btn-adduser" disabled="disabled" type="submit">添加用户</button>
</form>
<hr>
<form th:action="@{/settings/delUser}" method="post">
    <p>删除用户</p>
    <label for="delun">要删除的用户名</label>
    <input id="delun" name="userName" type="text">
    <button id="btn-deluser" disabled="disabled" type="submit">删除用户</button>
</form>
<script th:src="@{/layui/layui.js}"></script>
<script>

    layui.use('jquery', function () {
        var $ = layui.jquery;
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });
    });
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
    });
    //ajax请求区域
    layui.use('layer', function () {
        var layer = layui.layer;
        var index = null;
        var $ = layui.jquery;
        $.ajax({
            url: '/getAllUsers',
            method: 'post',
            data: {},
            dataType: 'JSON',
            async: true,
            success: function (res) {
                var html = "";
                for (var i = 0; i < res.length; i++) {
                    html += "<li>" + "用户名: "
                        + res[i].userName + " 密码: "
                        + res[i].password + "</li>";
                }
                $("#allUsers").html(html);
            },
            error: function (data) {
                console.log(data)
            }
        });

        $(function () {
            $("#usnm").on("input", function (e) {
                $.post({
                    url: "/isUserExist",
                    data: {
                        userName: $('#usnm').val()
                    },
                    success: function (data) {
                        console.log(data);
                        if (data.toString() === 'not') {
                            $('#btn-adduser').attr("disabled", false);
                        } else {
                            $('#btn-adduser').attr("disabled", true);
                        }
                    }
                });
            });
            $("#delun").on("input", function (e) {
                $.post({
                    url: "/isUserExist",
                    data: {
                        userName: $('#delun').val()
                    },
                    success: function (data) {
                        console.log(data);
                        if (data.toString() === 'exist') {
                            $('#btn-deluser').attr("disabled", false);
                        } else {
                            $('#btn-deluser').attr("disabled", true);
                        }
                    }
                });
            })
        })
    });

</script>
</body>
</html>