<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理测试</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
</head>
<body>
<div th:replace="common/SHeader::sheader"></div>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>添加轮播图</legend>
</fieldset>
<form class="layui-form"  th:action="@{/settings/addBanner}" method="post" enctype="multipart/form-data">
    <label for="a-pic" class="layui-form-label">上传图片</label>
    <input type="file" name="picture" id="a-pic"><br>
    <div class="layui-form-item">
        <label for="a-text" class="layui-form-label">添加描述</label>
        <div class="layui-input-block">
            <input type="text" name="text" id="a-text" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn">添加图片</button>
        </div>
    </div>
</form>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>已有的轮播图</legend>
</fieldset>
<div class="layui-form">
<table class="layui-table">
    <thead>
        <tr>
            <td>图片</td><td>描述(鼠标放上去显示的内容)</td><td>操作</td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="pic: ${pics}">
            <td><img style="width: 600px; height: 240px; max-width: 600px" th:src="@{${pic.picture}}" alt="tupian"></td>
            <td th:text="${pic.text}"></td>
            <td><a th:href="@{'/settings/delBanner/' + ${pic.id} }">删除</a></td>
        </tr>
    </tbody>
</table>
</div>

<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.use('jquery',function() {
        var $= layui.jquery;
    });

    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
    });

    //ajax请求区域
    layui.use('layer', function () {
        var layer = layui.layer;
        var index = null;
        var $ = layui.jquery;

    });

</script>
</body>
</html>