<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试页面</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
</head>
<body>
<div th:fragment="header" class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">Lidar Lab</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a th:href="@{/LidarLab/home}">home</a></li>
            <li class="layui-nav-item"><a th:href="@{/LidarLab/people}">people</a></li>
            <li class="layui-nav-item"><a th:href="@{/LidarLab/publications}">publications</a></li>
            <li class="layui-nav-item"><a th:href="@{/LidarLab/research}">research</a></li>
            <li class="layui-nav-item"><a th:href="@{/LidarLab/gallery}">gallery</a></li>
            <li class="layui-nav-item"><a th:href="@{/LidarLab/aboutUs}">about us</a></li>
        </ul>
    </div>
</div>

</body>
</html>