.desktop {
    display: none;
}

.desktop *{
    display: none;
}

.pic-comment{
    position:absolute;
    z-index:2;
    left: 50%;
    top: 50%;
    font-size: 18px;
    text-align: center;
    display: none;
    color: #93D1FF;
    font-family: "DejaVu Sans",serif;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 2px black;
}

.layui-nav {
    background-color: #F2F2F2;
}

.layui-nav .layui-nav-more {
    border-top-color: #5FB878;
}
